<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Author: YK
Title: CommonCommodityMapper
Description: 
Date: 2019/6/3
Time: 23:53
-->
<mapper namespace="cn.ykthink.jewelry.orm.common.CommonCommodityMapper">
    <resultMap id="commodityIntroductionResultMap"
               type="cn.ykthink.jewelry.model.common.vo.CommonCommodityListVO">
        <id column="commodity_uuid" property="commodityUuid"/>
        <result column="title" property="title"/>
        <result column="commodity_no" property="commodityNo"/>
        <result column="subhead" property="subhead"/>
        <result column="commodity_status" property="commodityStatus"/>
        <result column="commodity_price" property="commodityPrice"/>
        <collection property="imageList" ofType="cn.ykthink.jewelry.model.common.vo.CommonCommodityImageVO"
                    column="{commodityJewelryUuid=commodity_uuid}"
                    select="selectCommodityJewelryIntroductionImage">
            <result column="image_url" property="imageUrl"/>
        </collection>
    </resultMap>

    <select id="selectCommodityIntroduction" resultMap="commodityIntroductionResultMap">
        select commodity.uuid as commodity_uuid,
        commodity.title as title,
        commodity.subhead as subhead,
        commodity.commodity_price as commodity_price,
        commodity.commodity_no,
        commodity.commodity_status
        from commodity left join store on store.uuid=commodity.store_uuid
        <where>
            commodity.is_deleted = 0
            and store.store_consumption > 0
            <if test="commodityStatus!=null">
                and commodity.commodity_status=#{commodityStatus}
            </if>
            <if test="categoryUuid!=null and categoryUuid!=''">
                and commodity.category_uuid=#{categoryUuid}
            </if>
        </where>
        order by commodity.commodity_no
    </select>

    <select id="selectCommodityJewelryIntroductionImage"
            resultType="cn.ykthink.jewelry.model.common.vo.CommonCommodityImageVO">
        select image_url, uuid as image_uuid
        from images
        where commodity_jewelry_uuid = #{commodityJewelryUuid}
          and is_deleted = 0
    </select>

    <resultMap id="commodityResultMap" type="cn.ykthink.jewelry.model.common.vo.CommonCommodityInfoVO">
        <id column="commodity_uuid" property="commodityUuid"/>
        <result column="commodity_no" property="commodityNo"/>
        <result column="title" property="title"/>
        <result column="subhead" property="subhead"/>
        <result column="commodity_price" property="commodityPrice"/>
        <result column="detail" property="detail"/>
        <result column="texture_name" property="textureName"/>
        <result column="texture_uuid" property="textureUuid"/>
        <result column="category_uuid" property="categoryUuid"/>
        <result column="store_consumption" property="store"/>
        <collection property="imageList" ofType="cn.ykthink.jewelry.model.common.vo.CommonCommodityImageVO"
                    column="{commodityJewelryUuid=commodity_uuid}"
                    select="selectCommodityJewelryIntroductionImage">
            <result column="image_url" property="imageUrl"/>
        </collection>
    </resultMap>

    <select id="selectCommodity" resultMap="commodityResultMap">
        select commodity.uuid            as commodity_uuid,
               commodity.commodity_no    as commodity_no,
               commodity.title           as title,
               commodity.subhead         as subhead,
               commodity.commodity_price as commodity_price,
               commodity.detail          as detail,
               texture.uuid              as texture_uuid,
               texture.texture_name      as texture_name,
               store.store_consumption   as store,
               commodity.category_uuid
        from commodity
                 left join texture on commodity.texture_uuid = texture.uuid
                 left join store on store.uuid = commodity.uuid
        where commodity.uuid = #{commodityUuid}
          and commodity.is_deleted = 0
    </select>
    <resultMap id="jewelryIntroductionResultMap"
               type="cn.ykthink.jewelry.model.common.vo.CommonJewelryListVO">
        <id column="jewelry_uuid" property="jewelryUuid"/>
        <result column="jewelry_no" property="jewelryNo"/>
        <result column="jewelry_price" property="jewelryPrice"/>
        <collection property="imageList" ofType="cn.ykthink.jewelry.model.common.vo.CommonCommodityImageVO"
                    column="{commodityJewelryUuid=jewelry_uuid}"
                    select="selectCommodityJewelryIntroductionImage">
            <result column="image_url" property="imageUrl"/>
        </collection>
    </resultMap>
    <select id="selectJewelryIntroduction" resultMap="jewelryIntroductionResultMap">
        select jewelry.uuid as jewelry_uuid, jewelry.jewelry_no as jewelry_no, jewelry.jewelry_price as jewelry_price
        from jewelry
        where jewelry.is_deleted = 0
        order by jewelry.jewelry_no
    </select>

    <resultMap id="jewelryResultMap" type="cn.ykthink.jewelry.model.common.vo.CommonJewelryInfoVO">
        <id column="uuid" property="jewelryUuid"/>
        <result column="jewelry_no" property="jewelryNo"/>
        <result column="shape" property="shape"/>
        <result column="color" property="color"/>
        <result column="clarity" property="clarity"/>
        <result column="cut" property="cut"/>
        <result column="polishing" property="polishing"/>
        <result column="light" property="light"/>
        <result column="jewelry_price" property="jewelryPrice"/>
        <collection property="imageList" ofType="cn.ykthink.jewelry.model.common.vo.CommonCommodityImageVO">
            <result column="image_url" property="imageUrl"/>
        </collection>
    </resultMap>

    <select id="selectJewelry" resultMap="jewelryResultMap">
        select jewelry.uuid  as jewelry_uuid,
               jewelry_no    as jewelry_no,
               shape         as shape,
               color         as color,
               clarity       as clarity,
               cut           as cut,
               polishing     as polishing,
               light         as polishing,
               jewelry_price as jewelry_price,
               image_url     as image_url
        from jewelry
                 left join images on jewelry.uuid = images.commodity_jewelry_uuid
        where jewelry.uuid = #{jewelryUuid}
          and jewelry.is_deleted = 0
    </select>

    <select id="selectIndexCategory" resultType="cn.ykthink.jewelry.model.common.vo.CommonCategoryVO">
        select uuid as category_uuid, category as category_name, category
        from category
        where is_deleted = 0
    </select>
</mapper>
 