<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ykthink.jewelry.orm.cms.CmsCommodityMapper">
    <insert id="insertCategory">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert into category (uuid,copywriting,category,sort,create_time,modified_time)values
        (#{uuid},#{copywriting},#{category},#{sort}, DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"),
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"))
    </insert>
    <insert id="addTexture">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert into texture(uuid,texture_name,create_time
        ,modified_time)values
        (#{uuid},#{textureName},DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"),DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"))
    </insert>
    <insert id="addJewelry">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert into jewelry(uuid, jewelry_no, shape, color, clarity, cut, polishing, light, jewelry_price, create_time,
        modified_time)values
        (#{uuid},#{jewelryNo},#{shape},#{color},#{clarity},#{cut},#{polishing},#{light},#{jewelryPrice},DATE_FORMAT(NOW(),"%Y-%m-%d
        %H:%i:%s"),DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"))

    </insert>
    <insert id="addImage">
        insert into images (uuid, commodity_jewelry_uuid,image_url,image_number,create_time,modified_time)
        values
        <foreach collection="imageList" item="item" index="index" separator=",">
            (replace(uuid(), '-', ''),
            #{commodityJewelryUuid},#{item.imageUrl},#{item.sort},DATE_FORMAT(NOW(),"%Y-%m-%d
            %H:%i:%s"),DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"))
        </foreach>
    </insert>
    <insert id="addStore">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert store (uuid, store_consumption, create_time, modified_time)values
        (#{uuid},#{storeConsumption},DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"),DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"))
    </insert>
    <insert id="addCommodity">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert commodity (uuid, texture_uuid, store_uuid, category_uuid, commodity_no, commodity_price, title,
        subhead, detail, create_time, modified_time)values
        (#{uuid},#{textureUuid},#{storeUuid},#{categoryUuid},#{commodityNo},#{commodityPrice},#{title},#{subhead},#{detail},DATE_FORMAT(NOW(),"%Y-%m-%d
        %H:%i:%s"),DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"))
    </insert>
    <update id="updateCategory">
        update category
        <set>
            <if test="categoryPO.copywriting!=null and categoryPO.copywriting!=''">
                copywriting=#{categoryPO.copywriting},
            </if>
            <if test="categoryPO.category!=null and categoryPO.category!=''">
                category=#{categoryPO.category},
            </if>
            <if test="categoryPO.sort!=null and categoryPO.sort!=''">
                sort=#{categoryPO.sort},
            </if>
            modified_time = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        </set>
        where uuid=#{categoryUuid}
    </update>
    <update id="updateTexture">
        update texture
        set texture_name  = #{texturePO.textureName},
            modified_time = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        where uuid = #{textureUuid}
    </update>
    <update id="removeIsDeleted">
        update ${tableName}
        set is_deleted    = 1,
            modified_time = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        where uuid = #{uuid}
    </update>
    <update id="modifyJewelry">
        update jewelry
        <set>
            shape=#{shape}, color=#{color}, clarity=#{clarity}, cut=#{cut}, polishing=#{polishing}, light=#{light},
            jewelry_price=#{jewelryPrice}
        </set>
        where uuid=#{uuid}
    </update>
    <update id="removeImage">
        update images
        set is_deleted    = 1,
            modified_time = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        where commodity_jewelry_uuid = #{commodityJewelryUuid}
    </update>
    <update id="restoreImage">
        update images
        set is_deleted    = 0,
            image_url     = #{imageUrl},
            modified_time = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        where uuid = #{imageUuid}
    </update>
    <update id="shelfCommodity">
        update commodity
        set commodity_status = #{commodityStatus},
            modified_time    = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        where uuid = #{commodityUuid}
    </update>
    <update id="updateCommodity">
        update commodity
        set category_uuid   = #{categoryUuid},
            commodity_price = #{commodityPrice},
            title           = #{title},
            subhead         = #{subhead},
            detail          = #{detail},
            modified_time   = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        where uuid = #{uuid}
    </update>
    <update id="updateStore">
        update store
        set store_consumption = #{store},
            modified_time     = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        where uuid in (select store_uuid as uuid from commodity where uuid = #{commodityUuid})
    </update>
    <select id="selectTexture" resultType="cn.ykthink.jewelry.model.cms.commodity.vo.CmsTextureListVO">
        select uuid, texture_name
        from texture
        where is_deleted = 0
        order by create_time
    </select>
    <select id="checkoutCommodityNum" resultType="java.lang.Integer">
        select count(uuid)
        from commodity
        where category_uuid = #{categoryUuid}
          and is_deleted = 0
    </select>
</mapper>