<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Author: YK
Title: CmsMerchantMapper
Description: 商家端Mapper
Date: 2019/6/3
Time: 23:09
-->
<mapper namespace="cn.ykthink.jewelry.orm.cms.CmsMerchantMapper">
    <select id="queryAccountPwd" resultType="cn.ykthink.jewelry.model.cms.merchant.to.CmsMerchantInfoTO">
        select uuid, password
        from users_info
        <where>
            <if test="request.account!=null and request.account!='' ">
                account = #{request.account}
            </if>
        </where>
    </select>
</mapper>
 