<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.ykthink.jewelry.orm.pc.PcCartMapper">
    <select id="selectCart" resultMap="cartResultMap">
        select cc.uuid,
               cc.commodity_uuid,
               cc.cart_jewelry_uuid,
               cc.commodity_no,
               cc.title,
               cc.subhead,
               cc.detail,
               cc.texture_name,
               commodity.commodity_price,
               store.store_total                               as store_total,
               store.store_consumption                         as store_consumption,
               cj.jewelry_uuid,
               cj.jewelry_no,
               cj.shape,
               cj.color,
               cj.clarity,
               cj.cut,
               cj.polishing,
               cj.light,
               jewelry.jewelry_price,
               commodity.commodity_price+jewelry.jewelry_price as price
        from cart_commodity as cc
                 left join commodity on commodity.uuid = cc.commodity_uuid
                 left join store on commodity.store_uuid = store.uuid
                 left join cart_jewelry as cj on cc.cart_jewelry_uuid = cj.uuid,
             jewelry
        where cc.user_uuid = #{userUuid}
          and cj.jewelry_uuid = jewelry.uuid
          and cc.is_order = 0
          and cj.is_order = 0
          and cc.is_deleted = 0
          and cj.is_deleted = 0
    </select>

    <resultMap id="cartResultMap" type="cn.ykthink.jewelry.model.pc.cart.vo.PcUserCartVO">
        <id column="uuid" property="cartCommodityUuid"/>
        <result column="cart_jewelry_uuid" property="cartJewelryUuid"/>
        <result column="price" property="price"/>
        <collection property="cartCommodityList" ofType="cn.ykthink.jewelry.model.pc.commodity.vo.PcCommodityInfoVO">
            <result column="commodity_no" property="commodityNo"/>
            <result column="title" property="title"/>
            <result column="subhead" property="subhead"/>
            <result column="detail" property="detail"/>
            <result column="texture_name" property="textureName"/>
            <result column="commodity_price" property="commodityPrice"/>
            <collection property="store" ofType="cn.ykthink.jewelry.model.pc.user.vo.PcUserStoreVO">
                <result column="store_total" property="storeTotal"/>
                <result column="store_consumption" property="storeConsumption"/>
            </collection>
            <collection property="imageList" ofType="cn.ykthink.jewelry.model.pc.commodity.vo.PcCommodityImageVO"
                        column="{commodityJewelryUuid=commodity_uuid}"
                        select="selectCommodityJewelryIntroductionImage">
                <result column="image_url" property="imageUrl"/>
            </collection>
        </collection>
        <collection property="cartJewelryList" ofType="cn.ykthink.jewelry.model.pc.commodity.vo.PcJewelryInfoVO">
            <result column="jewelry_no" property="jewelryNo"/>
            <result column="shape" property="shape"/>
            <result column="color" property="color"/>
            <result column="clarity" property="clarity"/>
            <result column="cut" property="cut"/>
            <result column="polishing" property="polishing"/>
            <result column="light" property="light"/>
            <result column="jewelry_price" property="jewelryPrice"/>
            <collection property="imageList" ofType="cn.ykthink.jewelry.model.pc.commodity.vo.PcCommodityImageVO"
                        column="{commodityJewelryUuid=jewelry_uuid}"
                        select="selectCommodityJewelryIntroductionImage">
                <result column="image_url" property="imageUrl"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectCommodityJewelryIntroductionImage"
            resultType="cn.ykthink.jewelry.model.pc.commodity.vo.PcCommodityImageVO">
        select image_url
        from images
        where commodity_jewelry_uuid = #{commodityJewelryUuid}
          and is_deleted = 0
    </select>

    <update id="removeIsDeleted">
        update cart_commodity as cc,
               cart_jewelry as cj
        <set>
            cc.is_deleted = 1,
            cj.is_deleted = 1
        </set>
        where cc.uuid = #{cartCommodityUuid}
          and cc.cart_jewelry_uuid = cj.uuid
    </update>

    <select id="selectConsigneeMessage" resultType="cn.ykthink.jewelry.model.pc.user.vo.PcUserReceiverInfoVO">
        select uuid                  as receiver_uuid,
               receiver_name         as name,
               receiver_province     as province,
               receiver_city         as city,
               receiver_district     as district,
               receiver_address      as address,
               receiver_phone_number as phone,
               zip_code              as zip_code
        from consignee
        where user_uuid = #{userUuid}
          and is_deleted = 0
    </select>

    <update id="updateCart">
        update cart_commodity as cc,
               cart_jewelry as cj
        <set>
            cc.is_order = 1,
            cj.is_order = 1
        </set>
        where cc.uuid = #{cartCommodityUuid}
          and cc.cart_jewelry_uuid = cj.uuid
          and cc.is_deleted = 0
          and cj.is_deleted = 0
    </update>

    <insert id="insertOrder">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert into
        `order`(
        uuid,
        user_uuid,
        consignee_uuid,
        order_no,
        order_describe,
        pay_price,
        pay_date,
        logistics_name,
        logistics_number,
        create_time,
        modified_time
        )
        values(
        #{uuid},
        #{user_uuid},
        #{consignee_uuid},
        #{order_no},
        #{order_describe},
        #{pay_price},
        #{pay_date},
        #{logistics_name},
        #{logistics_number},
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"),
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s")
        )
    </insert>

    <insert id="insertOrderCommodity">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert into
        order_commodity(
        uuid,
        cart_commodity_uuid,
        order_uuid,
        order_jewelry_uuid,
        commodity_price,
        create_time,
        modified_time
        )
        values(
        #{uuid},
        #{cart_commodity_uuid},
        #{order_uuid},
        #{order_jewelry_uuid},
        #{commodity_price},
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"),
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s")
        )
    </insert>

    <insert id="insertOrderJewelry">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert into
        order_jewelry(
        uuid,
        order_uuid,
        cart_jewelry_uuid,
        jewelry_price,
        create_time,
        modified_time
        )
        values(
        #{uuid},
        #{order_uuid},
        #{cart_jewelry_uuid},
        #{jewelry_price},
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"),
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s")
        )
    </insert>

    <update id="updateOrder">
        update `order` as o
        set order_status = 1
        where o.uuid = #{orderUuid}
    </update>
</mapper>