<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.ykthink.jewelry.orm.pc.PcCommodityMapper">

    <select id="selectCommodityJewelryIntroductionImage"
            resultType="cn.ykthink.jewelry.model.common.vo.CommonCommodityImageVO">
        select image_url
        from images
        where commodity_jewelry_uuid = #{commodityJewelryUuid}
          and is_deleted = 0
    </select>

    <insert id="insertJewelry">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert into
        cart_jewelry(uuid,jewelry_uuid,jewelry_no,shape,color,clarity,cut,polishing,light,user_uuid,create_time,modified_time)
        values
        (
        #{uuid},
        #{jewelryUuid},
        #{jewelryNo},
        #{shape},
        #{color},
        #{clarity},
        #{cut},
        #{polishing},
        #{light},
        #{userUuid},
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"),
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s")
        )
    </insert>

    <insert id="insertCommodity">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert into cart_commodity(uuid,commodity_uuid,cart_jewelry_uuid,size,user_uuid,texture_name,commodity_no,
        title,subhead,detail,create_time,modified_time)
        values
        (
        #{uuid},
        #{commodityUuid},
        #{cartJewelryUuid},
        #{size},
        #{userUuid},
        #{textureName},
        #{commodityNo},
        #{title},
        #{subhead},
        #{detail},
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"),
        DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s")
        )
    </insert>
</mapper>