<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ykthink.jewelry.orm.pc.PcOrderMapper">

    <update id="updateOrderStatus">
        update `order`
        set order_status  = #{status},
            modified_time = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        where uuid = #{uuid}
    </update>
</mapper>