<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ykthink.jewelry.orm.pc.PcOrderMapper">
    <update id="updateOrderStatus">
        update `order`
        set order_status  = #{status},
            pay_date      = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s"),
            modified_time = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        where uuid = #{uuid}
    </update>

    <update id="removeIsDeleted">
        update `order` as o,
        order_commodity as oc,
        order_jewelry as oje
        <set>
            o.is_deleted = 1,
            oc.is_deleted = 1,
            oje.is_deleted = 1
        </set>
        where o.uuid = oc.order_uuid
        and o.uuid = oje.order_uuid
        and oc.order_jewelry_uuid = oje.uuid
        and o.uuid = #{orderUuid}
    </update>

    <select id="checkLogisticsStatus" resultType="java.lang.Integer">
        select logistics_status
        from `order`
        where uuid = #{orderUuid}
    </select>

    <update id="updateLogisticsStatus">
        update `order`
        set logistics_status = 1,
            modified_time    = DATE_FORMAT(NOW(), "%Y-%m-%d %H:%i:%s")
        where uuid = #{orderUuid}
    </update>

    <select id="checkOrderStatus" resultType="java.lang.Integer">
        select order_status
        from `order`
        where uuid = #{orderUuid}
    </select>
</mapper>