<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Author: YK
Title: PcUserMapper
Description: 客户端用户Mapper
Date: 2019/4/28
Time: 15:23
-->
<mapper namespace="cn.ykthink.jewelry.orm.pc.PcUserMapper">
    <insert id="insertAccount">
        <selectKey keyProperty="uuid" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as uuid from dual
        </selectKey>
        insert into
        users_info(uuid,account,password,create_time,modified_time)values(#{uuid},#{account},#{password},DATE_FORMAT(NOW(),"%Y-%m-%d
        %H:%i:%s"),DATE_FORMAT(NOW(),"%Y-%m-%d %H:%i:%s"))
    </insert>
    <update id="updatePersonMessage">
        update users_info
        <set>
            email=#{email},
            phone=#{phone},
            username=#{username}
        </set>
        where uuid=#{uuid}
    </update>
    <update id="updateUserPwd">
        update users_info
        set password = #{password}
        where uuid = #{uuid}
    </update>
    <select id="queryAccountPwd" resultType="cn.ykthink.jewelry.model.pc.user.to.PcUserInfoTO">
        select uuid, password
        from users_info
        <where>
            <if test="request.account!=null and request.account!='' ">
                account = #{request.account},
            </if>
            <if test="request.uuid!=null and request.uuid!=''">
                and uuid=#{request.uuid}
            </if>
        </where>
    </select>
    <select id="selectPersonMessage" resultType="cn.ykthink.jewelry.model.pc.user.vo.PcUserPersonInfoVO">
        select account, phone, email, username
        from users_info
        where uuid = #{userUuid}
          and is_deleted = 0
    </select>
</mapper>
 